.payment-page {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-page h1 {
  text-align: center;
}

.box {
  background: #071a12;
  padding: 20px;
  border-radius: 12px;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 12px;
  border: none;
  background: #c9a227;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}